src/main/resources/static/wsdl/base_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by asdads (asd qwe) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="datetimeoffset">
		<xs:annotation>
			<xs:documentation>Тип "Дата со временем" (с временной зоной)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="0001-01-01T00:00:00Z"/>
			<xs:pattern value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))T(([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]+)?(([+-]((((0[0-9])|(1[0-3]))(:[0-5][0-9]))|14:00))|Z)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="custom_procedure_code_enum">
		<xs:annotation>
			<xs:documentation>Код таможенной процедуры
					(1 - выпуск для внутреннего потребления;
					4 - таможенный склад;
					13 - уничтожение;
					14 - отказ в пользу государства)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subject_id_type">
		<xs:annotation>
			<xs:documentation>Идентификатор субъекта обращения в ИС "Маркировка товаров"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subject_any_type">
		<xs:annotation>
			<xs:documentation>Идентификатор субъекта обращения в ИС "Маркировка товаров" (14 или 36 знаков)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="14"/>
			<xs:maxLength value="36"/>
			<xs:pattern value="[0-9]{14}|([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="source_type">
		<xs:annotation>
			<xs:documentation>Виды источников финансирования:
							1 - Собственные средства
							2 - Средства государственных бюджетов
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="accept_type_enum">
		<xs:annotation>
			<xs:documentation>Тип схемы акцептования при операциях отгрузки/приемки в рамках оптовой торговли:
						1 - Прямой порядок акцептования
						2 - Обратный порядок акцептования 
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="order_type_enum">
		<xs:annotation>
			<xs:documentation>Справочник типов производственного заказа:
						1 - Собственное производство
						2 - Контрактное производство
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="operation_result_type_enum">
		<xs:annotation>
			<xs:documentation>Результат операции фиксации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Accepted"/>
			<xs:enumeration value="Rejected"/>
			<xs:enumeration value="Partial"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="receive_type_enum">
		<xs:annotation>
			<xs:documentation>Вид операции приемки:
			1 - Поступление
			2 - Возврат от покупателя
			3 - Оприходывание излишков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sale_doc_type_enum">
		<xs:annotation>
			<xs:documentation>Вид  документа (
				1 - чек, 
				2 - бланк строгой отчетности (БСО), 
				3 - договор, 
				4 - прочее)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="series_number_type">
		<xs:annotation>
			<xs:documentation>Номер производственной серии</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="date_type">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inn_fl_type">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inn_ul_type">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kpp_type">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tnved4_type">
		<xs:annotation>
			<xs:documentation>Тип "Код ТН ВЭД ЕАЭС"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sign_sgtin_type">
		<xs:annotation>
			<xs:documentation>Индивидуальный серийный номер вторичной упаковки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="27"/>
			<xs:pattern value="[A-Z0-9]{27}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sscc_type">
		<xs:annotation>
			<xs:documentation>Индивидуальный серийный номер третичной/транспортной упаковки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="recall_type_enum">
		<xs:annotation>
			<xs:documentation>Перечень операций, для которых применим отзыв / отмена
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="311"/>
			<xs:enumeration value="312"/>
			<xs:enumeration value="313"/>
			<xs:enumeration value="321"/>
			<xs:enumeration value="331"/>
			<xs:enumeration value="332"/>
			<xs:enumeration value="335"/>
			<xs:enumeration value="341"/>
			<xs:enumeration value="381"/>
			<xs:enumeration value="382"/>
			<xs:enumeration value="411"/>
			<xs:enumeration value="413"/>
			<xs:enumeration value="431"/>
			<xs:enumeration value="511"/>
			<xs:enumeration value="521"/>
			<xs:enumeration value="531"/>
			<xs:enumeration value="541"/>
			<xs:enumeration value="542"/>
			<xs:enumeration value="551"/>
			<xs:enumeration value="552"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="confirm_doc_type_enum">
		<xs:annotation>
			<xs:documentation>Вид документа подтверждения соответствия:
				1 - Сертификат соответствия
				2 - Декларация о соответствии
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destruction_method_enum">
		<xs:annotation>
			<xs:documentation>Способ уничтожения (
				1 – раздавливание ампулы, разведением содержимого и слив в промышленную канализацию
				2 – дробление, разведение и слив в промышленную канализацию
				3 – сжигание)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="destruction_type_enum">
		<xs:annotation>
			<xs:documentation>Причина (основание) передачи на уничтожение (
				1 – по решению владельца
				2 – по решению Росздравнадзора
				3 – по решению суда)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stock_type_enum">
		<xs:annotation>
			<xs:documentation>Тип склада получателя (
			1 - ответственное хранение, 
			2 - собственный склад)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="withdrawal_type_enum">
		<xs:annotation>
			<xs:documentation>Тип вывода из оборота
					6 – выборочный контроль 
					7 – таможенный контроль 
					8 – федеральный надзор 
					9 – в целях клинических исследований 
					10 – в целях фармацевтической экспертизы 
					11 – недостача 
					12 – отбор демонстрационных образцов
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reexport_type_enum">
		<xs:annotation>
			<xs:documentation>Причина реэкспорта (
				1 – санкции
				2 – эмбарго
				3 – прочие причины)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gs1_gtin_type">
		<xs:annotation>
			<xs:documentation>Идентификационный номер GS1 для идентификации товаров (допускаются только цифры общей длины 14 символов)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="control_samples_type_enum">
		<xs:annotation>
			<xs:documentation>Справочник видов отбора образцов лекарственных препаратов:
					1 отбор контрольных образцов в рамках процесса контроля качества
					3 отбор образцов для подтверждения соответствия в рамах технического регулирования
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="document_number_200_type">
		<xs:annotation>
			<xs:documentation>Номер документа, но не более 200 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string64_type">
		<xs:annotation>
			<xs:documentation>Строка произвольной длины, но не более 64 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string128_type">
		<xs:annotation>
			<xs:documentation>Строка произвольной длины, но не более 128 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string200_type">
		<xs:annotation>
			<xs:documentation>Строка произвольной длины, но не более 200 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string500_type">
		<xs:annotation>
			<xs:documentation>Строка произвольной длины, но не более 500 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string1000_type">
		<xs:annotation>
			<xs:documentation>Строка произвольной длины, но не более 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string4000_type">
		<xs:annotation>
			<xs:documentation>Строка произвольной длины, но не более 4000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_type">
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="price_type">
		<xs:annotation>
			<xs:documentation>Тип "Стоимость"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minExclusive value="0"/>
			<xs:totalDigits value="16"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_clear_at_begin_type">
		<xs:annotation>
			<xs:documentation>Тип "Строка" (не пустая в начале)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_clear_type">
		<xs:annotation>
			<xs:documentation>Тип "Строка" (без спецсимволов с обеих сторон)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="string_clear_at_begin_type">
			<xs:minLength value="1"/>
			<xs:pattern value=".*\S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="turnover_type_enum">
		<xs:annotation>
			<xs:documentation>Справочник: Вид операции отгрузки
				1 – продажа
				2 – возврат
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fts_customs_code_type">
		<xs:annotation>
			<xs:documentation>Код таможенного органа. 2, 5 или 8 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="[0-9]{2}|[0-9]{5}|[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="system_subject_type">
		<xs:annotation>
			<xs:documentation>Идентификатор субъекта обращения (GUID)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="guid_type">
		<xs:annotation>
			<xs:documentation>Тип "GUID
"        </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="([a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
